.about-us{
    min-height: 90vh;
    padding-top: 30px;
}
.card{
    height: 600px;
}

.paragraphContainer {
    margin-top: 200px; /* Adjust the value as needed to create the desired space */
}
