.view-details-btn {
  background-color: #0776ad;
  color: white;
  border: 1px solid #0776ad;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}
.view-details-btn:hover {
  background-color: white;
  color: #0776ad;
}

.delete-btn {
  background-color: red;
  color: white;
  border: 1px solid red;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}
.delete-btn:hover {
  background-color: white;
  color: red;
}
